# dependencies
node_modules

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env*
!.env.*.example

# cache
.eslintcache

# editor
.vscode/*
!.vscode/extensions.json

# bloat
.idea
.DS_Store
